#board.layout-trello-vertical {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-content: flex-start;
}
#board.layout-trello-mixed {
    overflow-x: hidden;
    overflow-y: auto;
}
#board.layout-trello-vertical {
    flex-direction: column;
}

#board.layout-trello-vertical .list-wrapper {
    margin: 0 0 10px 10px;
    height: auto;
}

#board.layout-trello-mixed .list-wrapper {
    height: 30%;
    float: left;
    display: block;
    margin-left: 10px;
    margin-bottom: 20px;
}

#board.layout-trello-mixed .list-wrapper:nth-child(-n+2) {
    height: 100%;
    display: inline-block;
    float: left;
}

#board.layout-trello-mixed .list-wrapper:nth-child(n+3) {
    float: none;
    width: 15%;
    margin-left: 583px;
    height: auto;
}

#board.layout-trello-mixed .js-list-content {
    max-height: 40vh;
}
